@use 'config/reset';
@use 'config/variaveis';

body {
    background-color: variaveis.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corDoHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    .menu {
        display: flex;
    }

    .menu li {
        font-weight: bold;
        margin-left: 24px;
    }

    .menu li a {
        color: variaveis.$corDoTexto;
        text-decoration: none;
    }
}

section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 1%;
        width: 100%;
    }

    .product-item img {
        width: 100%;
        border-radius: 16px;
    }

    .product-button {
        display: block;
        background-color: variaveis.$corDoButton;
        color: variaveis.$corDoTexto;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
    }

    .product-button:hover {
        background-color: variaveis.$corDoHover;
    }
}


@media screen and (max-width: 1023px) {
    header {
        font-size: 30px;
    }
    section h2 {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    section h4, p {
        font-size: 30px;
    }

    section a {
        font-size: 20px;
    }

    .container {
        max-width: 80%;

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}

@media screen and (max-width: 767px) {
    header {
        font-size: 20px;
    }
    
    section h2 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}
